#bpenv-container {
  height: 100vh;
}

#bpenv-container #header {
  height: 40px;
}

#bpenv-container #map {
  width: 75%;
  height: 100%;
  margin-left: 0;
}

#bpenv-container .map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#bpenv-container .toolbar {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  background: #fff;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#bpenv-container .toolbar-btn {
  background-color: rgb(33, 37, 41);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bpenv-container .toolbar-btn-selected {
  color: rgb(33, 37, 41);
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bpenv-container .sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  padding: 16px;
  overflow-y: auto;
  z-index: 999;
}

#bpenv-container .sidebar-title {
  color: #fff;
  font-size: 18px;
  margin-bottom: 12px;
}

#bpenv-container .sidebar-text {
  color: #fff;
  font-size: 14px;
}

#bpenv-container .custom-placeholder::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#bpenv-container .no-focus-outline:focus {
  outline: none;
  box-shadow: none;
}