body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100vh;
  margin-left: 0; /* Spazio per la sidebar */
  
}



  
#sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}
